.custom-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    &:hover {
      opacity: 0.8;
    }
  }
  